name: bluebuild-nvidia
on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  bluebuild:
    name: Build Standard Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: true
      matrix:
        recipe:
          - recipe-nvidia.yml
    steps:
      # 1. Limpeza agressiva inicial
      - name: Optimize build times
        shell: bash
        run: |
          echo 'set man-db/auto-update false' | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          sudo rm -f /var/lib/man-db/auto-update
          sudo sed -i 's/^update_initramfs=.*/update_initramfs=no/' /etc/initramfs-tools/update-initramfs.conf

      # 2. Maximiza o espaço (cria um volume grande em $GITHUB_WORKSPACE)
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          # root-reserve-mb: 2048 # Garante espaço para logs do sistema
          # swap-size-mb: 1024

      - name: Build Standard Image
        uses: blue-build/github-action@v1.11
        with:
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          # Desativamos aqui pois já rodamos o easimon manualmente acima (evita conflito)
          maximize_build_space: true
          # Reativamos o Chunked OCI para downloads rápidos
          build_chunked_oci: true
          max_layers: 128
          use_cache: true
          squash: true
          retry_push_count: 3
          verify_install: true