name: check-updates
on:
  schedule:
    - cron: "00 06 * * *"  # 06:00 UTC
    - cron: "0 */4 * * *"  # a cada 4 horas
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-and-trigger:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Install Skopeo
        run: |
          sudo apt-get update
          sudo apt-get -y install skopeo

      - name: Ensure gh auth
        run: gh auth status
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Check Fedora Kinoite Base Digest
        id: check_base
        run: |
          set -euo pipefail
          DIGEST=$(skopeo inspect docker://quay.io/fedora/fedora-kinoite:latest --format '{{.Digest}}')
          echo "digest=$DIGEST" >> "$GITHUB_OUTPUT"

      - name: Check Base Digest Cache
        id: cache_base
        uses: actions/cache@v5
        with:
          path: ~/.cache-kinoite-base
          key: upstream-kinoite-base-${{ steps.check_base.outputs.digest }}

      - name: Trigger AMD and NVIDIA Builds
        if: steps.cache_base.outputs.cache-hit != 'true'
        run: |
          set -euo pipefail
          gh workflow run build-amd.yml --ref main --repo "${{ github.repository }}"
          gh workflow run build-nvidia.yml --ref main --repo "${{ github.repository }}"
          mkdir -p ~/.cache-kinoite-base
          echo "${{ steps.check_base.outputs.digest }}" > ~/.cache-kinoite-base/upstream-digest.txt
        env:
          GITHUB_TOKEN: ${{ github.token }}
